* {
    font-family: 'Nunito', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif !important;
}

.full-width {
    width: 100vw !important;
    max-width: 100vw !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi', sans-serif !important;
}